@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.tips-section {
  width: 100%;
  padding: 60px 0;
  background-image:url() ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.tips-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color:white;
  z-index: 1;
}

.tips-heading,
.tips-container {
  position: relative;
  z-index: 2;
}

.tips-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #3c0000;
  font-weight: 600;
}

.tips-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tip-card {
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #333;
}

.read-more-wrapper {
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.read-more-button {
  background-color: #3f0202;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  color: #ebe6e6;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #f4f4f4;
}
